@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
@import "tailwindcss";
 
@import "nativewind/theme";

@theme {
    --color-success: #15d54f;
    --color-primary: #0b0f2a;
    --color-background: #fff9e6;
}